*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    scrollbar-width:none;
    
}
body{
    background-color: rgb(32, 29, 76);
}
/* Creating header section of the page */
header{
    font-family: "Playwrite IN", serif;
    width:100vw;
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
header h2{
    font-size:20px;
    width:70%;
    height:90%;
    color:#ffd900;
    font-weight:500;
    background-color: rgba(0, 255, 255, 0.433);
    border-radius: 10px;
    padding:2vh 10vw;
    text-align: center;
}
/* Creating main section of page */
main{
    height:85vh;
    width:100vw;
    display:flex;
}
#left{
    
    /* background-color: red; */
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

}

/* Managing left section */
#left-head{
    font-family: "Playwrite VN", serif;
    text-align: center;
    height:10%;
    width:70%;
    color:white;
    font-size: 3em;
    font-size:20px;
}
#calendar{
    font-family: "Playwrite VN", serif;
    height:65%;
    width:70%;
    background-color: white;
    border-radius: 10px;
    display:flex;
    font-size:10px;
    flex-direction: column;
    justify-content: center;
   
}
#left-foot{
    font-family: "Playwrite VN", serif;
    
    height:15%;
    width:70%;
    display:flex;
    justify-content:center;
    gap:10px;
    align-items: center;
    overflow: hidden;
    
}
#left-foot #first,#left-foot #second{
height:100%;
width:35%;
font-size:1vh;
border-radius:10px;
display:flex;
padding:5px;
font-weight:900;
flex-direction: column;
justify-content:space-evenly;
align-items:center;
}
#left-foot #first{
background-color:#f4d8a6;
}
#left-foot #second{
background-color:#cd9687;
}

#completed_count,#pending_count{
  font-family: "Roboto", serif;
  font-size:5em;
  font-weight:700;
}


/* Managing-calendar */
#calendar-month{
    display:flex;
    gap:7px;
    text-align: center;
}
#calendar-month h2{
    font-size: 2vw;
    width:100%;
    
}

#calendar #calendar-box{
    height:80%;
    width:90%;
    display:grid;
    font-size: 1.3em;
    grid-template-columns:repeat(7,1fr);
    grid-template-rows:repeat(7,1fr);
    align-items:center;
    justify-items: center;
}
#calendar-box>div:hover{
color:rgb(164, 159, 159);
cursor: pointer;
}
#calendar-box>.calendar-days:hover{
 color:black;
 cursor:default;
}

/* ***********************Right Section**************************** */

#right{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:10px;
}
#tasks{
    height:85%; 
    display:flex;
    flex-direction:column;
    width:80%;
    overflow-y: scroll;
    gap:10px;
    scrollbar-width:none;
}
.task_container{
    height:20%;
    background-color:rgb(250, 250, 184);
    display:flex;
    font-size:35px  ;
    justify-content:space-between;
    padding:5px 20px;
    align-items: center;
   
}
.task_class{
    font-size:3.5vw;
}
.task_container input[type="checkbox"]{
    appearance: none; 
    width: 20px; 
    height: 20px; 
    margin-right: 5px; 
    border: 2px solid #ccc; 
    border-radius: 3px;
    transition: background-color 0.3s, 
    border-color 0.3s;
}
.task_container input[type="checkbox"]:checked{
    background-color: #4caf50; 
    border-color: #4caf50;
}
.task_container input[type="checkbox"]:checked::after { content: ""; 
    display: inline-block; 
    width: 5px; 
    height: 10px; 
    border: solid white; 
    border-width: 0 3px 3px 0; 
    transform: rotate(45deg); 
    margin-left: 5px
}
#right-top{
    width:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.sort{
    display:flex;
    width:60%;
    justify-content:space-between;
}
.sort-btn{

    padding:10px 15px;
    font-size:1em;
    border:none;
    font-weight: 600;
    background-color:rgb(248, 210, 155);
    border-radius:2px;

}
.sort-btn:hover{
    background-color:rgb(196, 158, 105);
    cursor:pointer;
}
#add_task{
    background-color: green;
    color:white;
    padding:5px 25px;
    
}
#add_task:hover{
    background-color:rgb(0, 80, 16);
    cursor:pointer;
}

.ri-add-line{
    font-size:1.5em;
    font-weight: 500;
}
/* task form */
#task_form{
       position:absolute;
    flex-direction: column;
    height:80%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    justify-content:space-evenly;
   align-items: start;
    background-color: rgb(42, 48, 68);
    width:40%;
    border-radius: 10px;
    display:none;
}



#task_form>#task_title{
    width:80%;
    text-transform: capitalize;
    height:10%;
    font-size:20px;
    align-self:center;
}
#task_form>#task_title:focus{
    border:none;
    outline:none;
     
}
.submit-form{
    align-self: center;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
   
}
.add{
    padding:10px 15px;
    border-radius:4px;
    background-color: rgb(26, 129, 26);
    border:none;
}
.add:hover{
    background-color: rgb(20, 94, 20);
}
.close{
    padding:10px 15px;
    border-radius:4px;
    background-color:rgb(31, 127, 154);
    border:none;
}
.close:hover{
    background-color:rgb(24, 100, 121);
}

/* Making home responsive */
@media(max-width:1020px) and (min-width:727px){
header{
    height:30vh;
}
header h2{
font-size:3vw;
}
main{
    flex-direction:column;
}
.task_container{
    height:6vw;
}
}
@media(max-width:727px){
header{
    height:17vh;
}
header h2{
font-size:3vw; 
    
}
#calendar #calendar-box{
    font-size:1.5vw;
}
main{
    flex-direction:column;
    gap:25px;
    height:140vh;
}
#left{
    gap:20px;
}
#left-head{
    height:20%;
}
#left-foot{
    height:20%;
    width:80%;
}
#calendar{
    height:60%;
}
#calendar-month h2{
    font-size:3vw;
}
#left-foot #first,#left-foot #second{
   
    font-size:1.5vw;
    }

.sort-btn{
    font-size:2vw;
}
#task_form>#task_title{
 font-size:10px;
}
.add{
    padding:5px 3px;
    border-radius:4px;
    background-color: rgb(26, 129, 26);
    border:none;
}
.close{
    padding:5px 3px;
    border-radius:4px;
    background-color:rgb(31, 127, 154);
    border:none;
}
}

/* ****************************Page2 Focus Timer************************* */

#main2{
    height:100vh;
    background-color: black;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
#main2>h2{
    font-family: "Roboto", serif;
    color:rgb(66, 230, 205);
    font-size: 30px;
}
#clock-min{
    font-family: "Roboto", serif;
    color:white;
    font-size:20vh;
}
#clock-sec{
    font-family: "Roboto", serif;
    color:rgb(66, 230, 205);
    font-size:20vh;
}
#start,#stop{
    padding:10px 40px;
    font-size:20px;
    background-color:rgb(71, 189, 199);
    color:white
}
@media (max-width:353px) {
    #clock-min{
        font-family: "Roboto", serif;
        color:white;
        font-size:25vw;
    }
    #clock-sec{
        font-family: "Roboto", serif;
        color:rgb(66, 230, 205);
        font-size:25vw;
    }
}
